<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">ToDoList</a>

    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/tasks">
                <i class="fa fa-tasks" aria-hidden="true"></i>
                Tasks
            </a>
            <a class="nav-item nav-link" href="#!/calendar">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                Calendar
            </a>
        </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/">
                <i class="fa fa-user-o" aria-hidden="true"></i>
                Logout
            </a>
        </div>
    </div>
</nav>

<div ng-controller="CalendarController">
    <div class="container mt-10" ng-controller="ToDoListController">
        <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
    </div>
</div>
