<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">ToDoList</a>

    <div class="collapse navbar-collapse justify-content-end">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#!/">
                <i class="fa fa-reply" aria-hidden="true"></i>
                Back
            </a>
        </div>
    </div>

</nav>

<div class="container">

    <div class="container text-center">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form class="form-signin" name="form" ng-submit="login()" role="form">
            <h2 class="form-signin-heading">Sign in</h2>
            <small class="text-muted">Connect [your service] with your favorite social network</small>
            <br><br>
            <p>
                <a class="btn btn-primary social-login-btn social-facebook" href="/auth/facebook"><i
                        class="fa fa-facebook"></i></a>
                <a class="btn btn-primary social-login-btn social-twitter" href="/auth/twitter"><i
                        class="fa fa-twitter"></i></a>
                <a class="btn btn-primary social-login-btn social-linkedin" href="/auth/linkedin"><i
                        class="fa fa-linkedin"></i></a>
                <a class="btn btn-primary social-login-btn social-google" href="/auth/google"><i
                        class="fa fa-google-plus"></i></a>
            </p>
            <div class="btn-group social-login-more">
                <button type="button" class="btn btn-default dropdown-toggle btn-block" data-toggle="dropdown">
                    More...
                </button>
                <ul class="dropdown-menu text-left " role="menu">
                    <li><a href="#"><i class="fa fa-tumblr-sign"></i>   Tumblr</a></li>
                    <li><a href="#"><i class="fa fa-github-alt"></i>   Github</a></li>
                    <li><a href="#"><i class="fa fa-dropbox"></i>   Dropbox</a></li>
                    <li><a href="/auth/amazon"><span class="zocial-amazon"></span>   Amazon</a></li>
                    <li><a href="#"><span class="zocial-bitbucket"></span>   Bitbucket</a></li>
                    <li><a href="#"><span class="zocial-evernote"></span>   Evernote</a></li>
                    <li><a href="#"><span class="zocial-meetup"></span>   Meetup</a></li>
                    <li><a href="#"><i class="fa fa-windows"></i>   Windows Live</a></li>
                    <li><a href="#"><i class="fa fa-weibo"></i>   Weibo</a></li>
                    <li><a href="#"><i class="fa fa-foursquare"></i>   Foursquare</a></li>
                    <li><a href="#"><i class="fa fa-stackexchange"></i>   Stack Exchange</a></li>
                    <li><a href="#"><i class="fa fa-trello"></i>   Trello</a></li>
                    <li><a href="#"><span class="zocial-wordpress"></span>   Wordpress</a></li>
                </ul>
            </div>
            <br><br>

            <small class="text-muted">Or sign in with [your service]</small>
            <br><br>
            <input type="text" name="username" id="username"
                   class="ember-view ember-text-field form-control login-input" placeholder="Email Address"
                   ng-model="username" required/>
            <input type="password" name="password" id="password"
                   class="ember-view ember-text-field form-control login-input-pass" placeholder="Password"
                   ng-model="password"
                           required/>
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            <button type="submit" ng-disabled="form.$invalid || dataLoading"
                    class="btn btn-lg btn-primary btn-block btn-center">Sign in
                    </button>
            <small class="create-account text-muted">Dont have a [your service] or social network account?
                <button id="ember363" class="ember-view btn btn-sm btn-default"> Sign Up</button>
            </small>
        </form>
    </div>
</div>