<body ng-app="ToDoListApp">

<nav class="navbar navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">ToDoList</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="#/login">Logout</a>
    </div>
</nav>

<div class="container mt-10" ng-controller="ToDoListController">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

                        <a class="navbar-brand">Lists</a>

                        <div class="collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" href="#"
                                       role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-align-justify" title="Align Justify"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#flipFlop">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Add list</a>
                                        <a class="dropdown-item" ng-click="clearAllLists()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear all lists</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="list-group">
                    <a class="list-group-item justify-content-between list-group-item-action"
                       ng-repeat="list in tasksList"
                       ng-click="changeActiveTaskList(list)">
                        {{list.name}}
                        <span class="badge badge-pill"
                              ng-class="{'badge-default':list.progress==0,
                          'badge-danger': (list.progress>0 && list.progress<33),
                          'badge-warning': (33<= list.progress && list.progress<60),
                          'badge-success': list.progress>=60 && list.progress<=100}"
                        >{{list.progress | number:0 }}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card" ng-show="activeTaskList">
                <div class="card-header">

                    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                        <a class="navbar-brand">{{activeTaskList.name}}</a>
                        <div class="collapse navbar-collapse justify-content-end">
                            <ul class="nav nav-pills">
                                <li class="nav-item dropdown">
                                    <a class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown" href="#"
                                       role="button"
                                       aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-cog" aria-hidden="true"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="modal" data-target="#new-task-modal">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                            Add task</a>
                                        <a class="dropdown-item" ng-click="clearAllTasks()">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                            Clear all tasks</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </nav>

                    <div class="progress">
                        <div class="progress-bar"
                             ng-class="{'bg-danger': (activeTaskList.progress>0 && activeTaskList.progress<33),
                              'bg-warning': (33<= activeTaskList.progress && activeTaskList.progress<60),
                               'bg-success': activeTaskList.progress>=60 && activeTaskList.progress<=100}"
                             role="progressbar" aria-valuenow="{{activeTaskList.progress}}"
                             ng-style="{width : ( activeTaskList.progress + '%' ) }" aria-valuemin="0"
                             aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="card-block">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item justify-content-between" ng-repeat="task in activeTaskList.tasks">
                            <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                <span class="custom-control-description"
                                      ng-class="{strike: task.done}">{{task.name}}</span>
                                <input type="checkbox" class="custom-control-input" ng-model="task.done"
                                       ng-click="checkProgress()">
                                <span class="custom-control-indicator"></span>
                            </label>
                            <button type="button" class="close" aria-label="Close" ng-click="deleteTask(task)">
                                <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card" ng-show="!activeTaskList">
                <div class="card-block">
                    Choice ToDoList
                </div>
            </div>

        </div>
    </div>


    <!-- Nel Task Modal -->
    <div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">New list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="TaskName"
                               ng-model="createdList.name">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newList()">Add</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Nel List Modal -->
    <div class="modal fade" id="new-task-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="TaskName"
                               ng-model="createdTask.name">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="newTask()">Add</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>